<div mat-dialog-content>
  <div class="text-center">
    <p class="title">Forgot Password</p>
    <div class="example-button-container">
      <button class="button_close"
              (click)="close()"
              style="background: #e04f5f">
        <i class="fa fa-times"
           aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <form [formGroup]="forgotGroup"
        (ngSubmit)="submitEmail()"
        class="mx-auto form-width">
    <div style="padding-top: 50px">
      <p class="m-0 form-lable">EMAIL</p>
      <mat-form-field class="full-width"
                      appearance="standard">
        <input matInput
               formControlName="email"
               placeholder="We will sent you reset password link on this email" />
      </mat-form-field>

    </div>
    <div class="my-auto"
         style="padding-top: 130px">
      <button type="submit"
              mat-raised-button
              class="full-width submit-button"
              color="warn">
        Submit
      </button>
    </div>
  </form>
</div>
