<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
    <div class="pl-5 page_induvidul_title">
        <p class="page--title">Change Password</p>
    </div>
    <div class="d-flex justify-content-end">
        <p class="text-muted lable-font-title">Account /</p>
        <p class="lable-font-title font-color">Change Password</p>
    </div>
</div>
<div class="ml-4 shadow-lg bg-white rounded h-100 mobile_userInfo">
    <div class="edit-img">
        <div class="edit-h">
            <img src="assets/images/Group 2863.svg">
        </div>
        <div class="edit-p">
            <img src="assets//images/Group 2870.svg">

        </div>
    </div>
    <div class="px-1 py-5 my-5">
        <form class="form-header">

            <div class="row">

                <div class="row m-0">
                    <div class="col-sm-12">
                        <p class="m-0 form-lable">OLD PASSWORD</p>
                        <mat-form-field class="full-width"
                                        appearance="fill">
                            <input matInput
                                   type="password"
                                   placeholder="Enter Old Password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row m-0 mt-5">
                    <div class="col-sm-12">
                        <p class="m-0 form-lable">NWE PASSWORD</p>
                        <mat-form-field class="full-width"
                                        appearance="fill">
                            <input matInput
                                   type="password"
                                   placeholder="Enter New Password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row m-0 mt-5">
                    <div class="col-sm-12">
                        <p class="m-0 form-lable">CONFIRM PASSWORD</p>
                        <mat-form-field class="full-width"
                                        appearance="fill">
                            <input matInput
                                   type="password"
                                   placeholder="Enter Confirm Password">
                        </mat-form-field>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="mobile_button_group">
                <button mat-flat-button
                        color="primary"
                        style="height: 38px;"
                        class="save-button  px-5"
                        (click)="addVendorSubmit()">
                    Save
                </button>
                <button mat-flat-button
                        color="accent"
                        style="height: 38px;"
                        class="cancel-button  px-5">
                    Cancel
                </button>

            </div>
        </div>
    </div>

</div>
