<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5 page_induvidul_title">
    <p class="page--title">User</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Users Types /</p>
    <p class="lable-font-title font-color">Add User</p>
  </div>
</div>

<section style="margin-left: 20px" class="add_user_informative">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="addAdminGroup">
        <div class="row">
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> FIRST NAME</mat-label>
            <input matInput #input type="text" placeholder="Enter Full store name">
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>SECOND NAME</mat-label>
            <input matInput placeholder="Enter Second Name" />
          </mat-form-field>
          <mat-form-field class="form-group col-sm-12" floatLabel="always">
            <mat-label>EMAIL ID</mat-label>
            <input matInput placeholder="Enter Email Id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>ROLE</mat-label>
            <mat-select placeholder="Select Role">
              <mat-option value=""> Select Role </mat-option>
              <mat-option value="vendor"> Junior </mat-option>
              <mat-option value="vendor"> Senior </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>EMP ID</mat-label>
            <input matInput placeholder="Enter Id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>DEPARTMENT</mat-label>
            <mat-select placeholder="Select Department">
              <mat-option value=""> Select Department </mat-option>
              <mat-option value="vendor"> Junior </mat-option>
              <mat-option value="vendor"> Senior </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>STATUS</mat-label>
            <mat-select placeholder="Select Department">
              <mat-option value=""> Select Status </mat-option>
              <mat-option value="active"> Active </mat-option>
              <mat-option value="vendor"> In-Active </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>PASSWORD</mat-label>
            <input matInput placeholder="Enter Password" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>CONFIRM PASSWORD</mat-label>
            <input matInput placeholder="Re-Enter Password" />
          </mat-form-field>
        </div>
      </form>
      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="mobile_button_group">
            <button mat-flat-button color="primary" style="height: 38px;" class="save-button  px-5">
              Save
            </button>
            <button mat-flat-button color="accent" style="height: 38px;" class="cancel-button  px-5">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>