<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5 page_induvidul_title">
    <p class="page--title">User</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Users Types /</p>
    <p class="lable-font-title font-color">Add User</p>
  </div>
</div>

<section style="margin-left: 20px"
         class="add_user_informative">
  <mat-card style="border-radius: 12px">
    <form [formGroup]="addAdminGroup">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">FIRST NAME</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="firstName"
                   placeholder="Enter First Name" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">SECOND NAME</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="lastName"
                   placeholder="Enter Second Name" />
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <p class="m-0 form-lable">EMAIL ID</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="email"
                   placeholder="Enter Email Id" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">ROLE</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="role"
                        placeholder="Select Role">
              <mat-option value=""> Select Role </mat-option>
              <mat-option value="vendor"> Junior </mat-option>
              <mat-option value="vendor"> Senior </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">EMP ID</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="id"
                   placeholder="Enter Id" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">DEPARTMENT</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="department"
                        placeholder="Select Department">
              <mat-option value=""> Select Department </mat-option>
              <mat-option value="vendor"> Junior </mat-option>
              <mat-option value="vendor"> Senior </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">STATUS</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="status"
                        placeholder="Select Department">
              <mat-option value=""> Select Status </mat-option>
              <mat-option value="active"> Active </mat-option>
              <mat-option value="vendor"> In-Active </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">PASSWORD</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="password"
                   placeholder="Enter Password" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">CONFIRM PASSWORD</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="confirm"
                   placeholder="Re-Enter Password" />
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col-sm-12">
        <button mat-flat-button
                color="primary"
                style="height: 38px;"
                class="save-button mr-5 px-5">
          Save
        </button>
        <button mat-flat-button
                color="accent"
                style="height: 38px;"
                class="cancel-button mr-5 px-5">
          Cancel
        </button>
      </div>
    </div>
  </mat-card>
</section>
