<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5 page_induvidul_title">
    <p class="page--title">User</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Users Types /</p>
    <p class="lable-font-title font-color">Add User</p>
  </div>
</div>

<section style="margin-left: 20px" class="add_user_informative">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="addAdminGroup">
        <div class="row">
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>FIRST NAME</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter First Name" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>SECOND NAME</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter Second Name" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-12" floatLabel="always">
            <mat-label>EMAIL ID</mat-label>
            <input matInput formControlName="email" placeholder="Enter email id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>ROLE</mat-label>
            <mat-select formControlName="role">
                <mat-option value="senior"> Senior </mat-option>
                <mat-option value="midLevel"> Mid Level </mat-option>
                <mat-option value="junior"> Junior </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>EMP ID</mat-label>
            <input matInput formControlName="empid" placeholder="Enter Id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>DEPARTMENT</mat-label>
            <mat-select formControlName="department">
              <mat-option value="IT"> IT </mat-option>
              <mat-option value="Sale"> Sales </mat-option>
              <mat-option value="Marketing"> Marketing </mat-option>
              <mat-option value="Finance"> Finance </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>STATUS</mat-label>
            <mat-select formControlName="status">
              <mat-option value="Active"> Active </mat-option>
              <mat-option value="In-Active"> In-Active </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter Password" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" formControlName="confirm" placeholder="Enter Password" />
          </mat-form-field>

        </div>
      </form>
      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="mobile_button_group">
            <button mat-flat-button color="primary" style="height: 38px;" class="save-button  px-5" (click)="addAdminSubmit()">
              Save
            </button>
            <button mat-flat-button color="accent" style="height: 38px;" class="cancel-button  px-5">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>