<div class="d-flex justify-content-between pb-4">
  <div class="pl-4">
    <p class="page--title">Language</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Account /</p>
    <p class="text-muted lable-font-title">Language /</p>
    <p class="lable-font-title font-color">Add Language</p>
  </div>
</div>

<Section style="margin-left: 20px">
  <mat-card>
    <form [formGroup]="addLanguageGroup">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form--lable">LANGUAGE ID</p>


          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="langId"
                   placeholder="Enter Language Id" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form--lable">NAME</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="name"
                   placeholder="Enter Language Name" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form--lable">VALUE</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="value"
                   placeholder="Enter Value" />
          </mat-form-field>
        </div>

        <div class="col-md-6 col-sm-12">
          <p class="m-0 form--lable">STATUS</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select placeholder="Enter Status">
              <mat-option value=""> Select Status </mat-option>
              <mat-option value="active"> Active </mat-option>
              <mat-option value="in-active"> In-Active </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="mobile_userInfo">
            <button mat-flat-button
                    color="primary"
                    type="submit"
                    class="primary--button px-5 mr-5 save-button">
              Save
            </button>
            <button mat-flat-button
                    color="accent"
                    class="secondary--button px-5 cancel-button">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</Section>
