.admins_head h6 {
    font-family: "Montserrat", sans-serif !important;
    color: #000 !important;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px !important;
    margin-left: 30px;
}

.add_btn h6 {
    height: 40px;
    font-family: "Montserrat", sans-serif;
    background-color: #988149;
    color: #fff;
    padding: 7px 14px 7px 14px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    float: right;
}

.filter-btn {
    color: #988149;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #988149;
    height: 40px;
}

.activ_btn a {
    
      border: 1px solid #00C292;
      color: #ffffff !important;
      background: #00C292 0% 0% no-repeat padding-box;
      border-radius: 4px !important;
      font-family: 'Montserrat' !important;
      font-size: 12px !important;
      padding: 6px 20px 6px 20px;
  
}

.dele_btn {
    margin-left: 11px;
}

.diactiv_btn a {
    background-color: #f83c3c;
    padding: 2px 5px;
    border-radius: 3px;
}

.table_box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;
    background-color: #fff;
    padding-top: 30px;
    border-radius: 10px;
}

.table_box th {
    font-size: 12px;
}

.table_box td {
    font-size: 12px;
}

.export_btn {
    display: flex;
    margin: auto;
}

.export_btn h6 {
    font-size: 14px;
    padding-left: 12px;
    color: #9d9c9c;
    font-weight: 500;
}

.export_btn a {
    border: 1px solid #988149;
    height: 32px;
    width: 52px;
    border-radius: 5px;
    text-align: center;
    margin-left: 7px;
    color: #988149;
    padding-top: 4px;
    margin-top: -8px;
}

.tab_admin {
    margin-top: 35px;
}

.form_field {
    padding: 0 !important;
    box-shadow: white;
}


/* .search_btn{width: 94%;
    height: 34px;
    top: 12px;box-shadow: rgb(100 100 111 / 20%) 0px 3px 7px 0px;} */

.option_btn a {
    font-size: 10px;
    padding: 5px;
}

.dropdown-menu {
    display: block !important;
}

.th_wid {
    color: black;
    font-weight: bold;
    font-size: 50%;
}

.td_wid {
    color: black;
}
.table thead th {
    font-family: "Montserrat", sans-serif !important;
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 600;
  }
  .table tbody tr {
    font-family: "Montserrat", sans-serif !important;
    font-size: 12.5px !important;
    font-weight: 500;
  }