<section>
    <div class="row">
        <div class="col-lg-6 admins_head">
            <h6>Loyality</h6>
        </div>
        <div class="col-lg-6 add_btn">
            <h6 (click)="addLoyalty()">Add Loyality</h6>
            <div class="">
                <button mat-stroked-button color="primary" class="filter-btn" (click)="openFilter()">
        Filter
        <mat-icon>filter_list</mat-icon>
      </button>
            </div>


        </div>
    </div>
</section>
<section class="table_box" style="margin-left: 20px;">
    <div class="row">
        <div class="col-lg-6 export_btn">
            <h6>Export:</h6><a>csv</a><a>xls</a><a>pdf</a> </div>
        <div class="col-lg-5 col-md-5 col-sm-5 d-flex justify-content-end" style="margin-right:25px">
            <form class="search-form">
                <mat-form-field class="form_field search_btn" appearance="outline">
                    <mat-icon class="form_field" matSuffix>search</mat-icon>
                    <input matInput type="search" placeholder="search" class="search-input">
                </mat-form-field>
            </form>
        </div>
    </div>
    <table class="table table-striped table-hover tab_admin">
        <thead>
            <tr style="padding-top: 20px;">
                <th class="th_wid">Purchaser Name</th>
                <th class="th_wid">Product Id</th>
                <th class="th_wid">Reward Type</th>
                <th class="th_wid">Amount</th>
                <th class="th_wid">Points</th>
                <th class="th_wid">Currency Code</th>
                <th class="th_wid">Loyailty End Date</th>
                <th class="th_wid">Earn Points</th>
                <th class="th_wid">Action</th>
            </tr>
        </thead>
        <tbody class="td_wid">
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
            <tr>
                <td>Rajesh Varma</td>
                <td>JOY56897</td>
                <td> Purchasr Reward</td>
                <td>1500</td>
                <td>15</td>
                <td>INR</td>
                <td>05/12/2021</td>
                <td>65</td>
                <td class="activ_btn" (click)="action()"><a>Reward</a></td>
            </tr>
        </tbody>
    </table>
</section>