.form-lable {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.lable-title {
  font-size: 17px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.padding-left {
  padding-left: 3rem !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .padding-left {
    padding-left: 0px !important;
  }
}
