<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5 page_induvidul_title">
    <p class="page--title">Offers Details</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Offers /</p>
    <p class="lable-font-title font-color">Add Offer</p>
  </div>
</div>

<section style="margin-left: 20px"
         class="add_user_informative">
  <mat-card style="border-radius: 12px">
    <form [formGroup]="addOffersGroup">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <p class="m-0 form-lable">OFFER NAME</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="offerName"
                   placeholder="Enter Offer Name" />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <p class="m-0 form-lable">OFFER ID</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="offerId"
                   placeholder="Enter Offer Id" />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <p class="m-0 form-lable">STORE ID</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <input matInput
                   formControlName="storeId"
                   placeholder="Enter Store Id" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">OFFER CATEGORY</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="offerCategoty"
                        placeholder="Select Category">
              <mat-option value=""> Select Category </mat-option>
              <mat-option value="vendor"> Vendor Category </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">OFFER SUB CATEGORY</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="offerSubCategory"
                        placeholder="Select Sub Category">
              <mat-option value=""> Select Sub Category </mat-option>
              <mat-option value="vendor"> Vendor Sub Category </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">COUNTRY</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="country"
                        placeholder="Select Country">
              <mat-option value=""> Select Country </mat-option>
              <mat-option value="vendor"> India </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">LOCATION</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select formControlName="location"
                        placeholder="Select Location">
              <mat-option value=""> Select Location </mat-option>
              <mat-option value="vendor"> Hyderabad </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <div class="">
            <p class="m-0 form-lable">OFFER DESCRIPTION</p>
            <mat-form-field class="full-width"
                            appearance="fill">
              <input matInput
                     formControlName="description"
                     placeholder="Enter Description" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">START DATE</p>
          <mat-form-field appearance="fill"
                          class="full-width">
            <input matInput
                   formControlName="startDate"
                   placeholder="Enter Date"
                   [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix
                                   style="color: #988149;"
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">END DATE</p>
          <mat-form-field appearance="fill"
                          class="full-width">
            <input matInput
                   formControlName="endDate"
                   placeholder="Enter Date"
                   [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix
                                   style="color: #988149;"
                                   [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-2 mobile_images">
          <p class="lable-font-title">Upload Banner Image</p>
          <!-- <div class="p-5"
               (click)="openImageFile()">
            <input #fileInput
                   id="offer-banner"
                   type="file"
                   style="display: none;"
                   (change)="handleChange($event.target.files)"
                   formControlName="image" />
            <img src="assets/cloud-computing%20(1).svg"
                 style="width: 50px;">
            <div style="text-align: center">
              <p style="font-size:16px"
                 class="pb-0 pt-1">Click to Upload</p>
            </div>
          </div> -->
          <div class="p-5 file-uploader"
               (click)="openManagerImage()">
            <input #fileInput
                   id="manager-image"
                   type="file"
                   hidden
                   (change)="handleChange($event.target.files)"
                   formControlName="managerImage" />
            <img src="assets/cloud-computing%20(1).svg"
                 style="width: 50px;">
            <div style="text-align: center">
              <p style="font-size:16px"
                 class="pb-0 pt-1">Click to Upload</p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="mobile_button_group">
          <button mat-flat-button
                  color="primary"
                  style="height: 38px;"
                  class="save-button mr-5 px-5"
                  type="button">
            Save
          </button>
          <button mat-flat-button
                  color="accent"
                  style="height: 38px;"
                  class="cancel-button mr-5 px-5">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</section>
