<div class="rounded">
    <div class="d-flex justify-content-between">
        <div></div>
        <div>
            <p class="filter-title ml-5 mb-4" style="font-weight: bold;">Offer</p>
            <img class="offersimg" src="../../assets/gift.jpeg">
        </div>
        <div class="example-button-container">
            <button mat-mini-fab color="warn" (click)="close()" style="background: #e04f5f">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="data.filterType == 'OffersForm'">
        <form [formGroup]="OffersForm" (ngSubmit)="submit()" class="ml-5 pl-5">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm">
                        <p>OFFER NAME</p>
                        <h2>Weekend Sale</h2>
                    </div>
                    <div class="col-sm">
                        <p>OFFER ID</p>
                        <h2>JOY873</h2>
                    </div>
                    <div class="col-sm">
                        <p>STORE ID</p>
                        <h2>89736</h2>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm">
                        <p>CATEGORY</p>
                        <h2>Jewellary</h2>
                    </div>
                    <div class="col-sm">
                        <p>SUB CATEGORY</p>
                        <h2>Bracelet</h2>
                    </div>
                    <div class="col-sm">
                        <p>COUNTRY</p>
                        <h2>India</h2>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm">
                        <p>LOCATION</p>
                        <h2>Hyderabad</h2>
                    </div>
                    <div class="col-sm">
                        <p>START DATE</p>
                        <h2>01/12/2021</h2>
                    </div>
                    <div class="col-sm">
                        <p>END DATE</p>
                        <h2>01/1/2021</h2>
                    </div>
                </div>
            </div>
            <p>OFFER DESCRIPTION</p>
            <h2>Contrary to popular balief, Lorem ipsum is not simply <br> roots in place of classical Latin Professor at Hampden-Sydney</h2>

        </form>
    </div>
</div>