<div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Account /</p>
    <p class="lable-font-title font-color">Customer Policies</p>
</div>
<Section style="margin-left: 20px;">
    <div class="row">
        <div class="pl-5 page_induvidul_title">
            <p class="page--title">Customer Policies</p>
        </div>
    </div>
    <mat-card>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <ckeditor [(ngModel)]="htmlContent"
                          [config]="config"
                          [editor]="Editor"></ckeditor>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="mobile_userInfo">
                    <button mat-flat-button
                            color="primary"
                            type="submit"
                            class="primary--button px-5 mr-5 save-button">
                        Save
                    </button>
                    <button mat-flat-button
                            color="accent"
                            class="secondary--button px-5 cancel-button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</Section>
