.lable-color-gray {
  color: #a4a4a4;
}
.font-color {
  color: #988149;
}
::ng-deep .ck-toolbar {
  border: none !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: none !important;
}
::ng-deep .ck-editor__editable {
  min-height: 500px !important;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px !important;
}
