<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5">
    <p class="page--title">User</p>
  </div>
  <div class="d-flex justify-content-end">
    <span class="admin_lable">Users Types /</span>
    <span class="add">Edit User</span>
  </div>
</div>
<Section style="margin-left: 20px" class="add_user_informative">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="editUserForm" (ngSubmit)="saveUser()">
        <div class="row">
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>FIRST NAME</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter First Name" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>SECOND NAME</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter Second Name" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-12" floatLabel="always">
            <mat-label>EMAIL ID</mat-label>
            <input matInput formControlName="email" placeholder="Enter email id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>ROLE</mat-label>
            <mat-select formControlName="role">
              <mat-option value="vendor"> Vendor </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>EMP ID</mat-label>
            <input matInput formControlName="id" placeholder="Enter Id" />
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>DEPARTMENT</mat-label>
            <mat-select formControlName="department">
              <mat-option value="Pending"> Pending </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label>STATUS</mat-label>
            <mat-select formControlName="status">
              <mat-option value="Pending"> Pending </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
      </form>
      <div class="mt-5 form-group">
        <button mat-flat-button type="submit" style="height: 38px;" class="primary--button mr-5">
          Save
        </button>
        <button mat-flat-button type="button" style="height: 38px;" class="outline--button">
          Cancel
        </button>
      </div>

    </div>
  </div>
</Section>