<div class="d-flex justify-content-between pb-4 mobile_admin_heading">
  <div class="pl-5 page_induvidul_title">
    <p class="page-title">Partner</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Partners /</p>
    <p class="lable-font-title font-color">Add Partners</p>
  </div>
</div>

<section style="margin-left: 20px" class="add_user_informative">
  <div class="card">
    <div class="card-body">
      
      <form [formGroup]="addPartnersGroup">
        <div class="row">
          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Partner Name</mat-label>
            <input matInput placeholder="Enter Partners Name" formControlName="partnername" />
            <mat-error *ngIf="addPartnersGroup.get('partnername').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Partners Name</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Partner Email Id</mat-label>
            <input matInput placeholder="Enter Partners Email Id" formControlName="emailid" />
            <mat-error *ngIf="addPartnersGroup.get('emailid').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Partners Email Id</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Category</mat-label>
            
            <mat-select matinput placeholder="Select Category" formControlName="category" (selectionChange)="categoryChange($event.value)">
              <mat-option *ngFor="let category of categories" [value]=category._id>
                {{category.categoryName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPartnersGroup.get('category').hasError('required')  && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Select Category</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Sub Category</mat-label>
            <mat-select placeholder="Select Sub Category" formControlName="subcategory">
              <mat-option *ngFor="let category of subcategories" [value]=category._id>
                {{category.subcategoryname}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPartnersGroup.get('subcategory').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Sub Select Category</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Partner Id</mat-label>
            <input matInput placeholder="Enter Partners Id" formControlName="partnerid" />
            <mat-error *ngIf="addPartnersGroup.get('partnerid').hasError('required')  && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Partners Id</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Contact Number</mat-label>
            <input matInput placeholder="Enter Contact Number" formControlName="contactnumber" />
            <mat-error *ngIf="addPartnersGroup.get('contactnumber').hasError('required')  && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Contact Number</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Country</mat-label>
            <mat-select matinput placeholder="Select Country" formControlName="country" (selectionChange)="countryChange($event.value)">
              <mat-option *ngFor="let country of countries" [value]=country._id>
                {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPartnersGroup.get('country').hasError('required')  && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Country</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>State</mat-label>
            <mat-select placeholder="Select State" formControlName="state" (selectionChange)="stateChange($event.value)">
              <mat-option *ngFor="let state of states" [value]=state._id>
                {{state.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPartnersGroup.get('state').hasError('required')  && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter State</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>City</mat-label>
            <mat-select placeholder="Select City" formControlName="city">
              <mat-option *ngFor="let city of cities" [value]=city._id>
                {{city.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPartnersGroup.get('city').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter City</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" appearance="fill" floatLabel="always">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter Address" formControlName="address" />
            <mat-error *ngIf="addPartnersGroup.get('address').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter Address</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>

          <div class="col-sm-12">
            <p class="lable-font-title">Upload Logo</p>
            <div class="p-5 file-uploader" (click)="openLogoFile()">
              <input #fileInput id="logo" type="file" hidden (change)="handleChange($event.target.files)"
                formControlName="logo" />
              <img src="assets/cloud-computing%20(1).svg" style="width: 50px;">
              <div style="text-align: center">
                <p style="font-size:16px" class="pb-0 pt-1">Click to Upload</p>
              </div>
            </div>
            <mat-error *ngIf=" addPartnersGroup.get('logo').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Upload Image</span>
                </div>
              </div>
            </mat-error>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12">
            <button mat-flat-button color="primary" style="height: 38px;" class="save-button mr-5 px-5" type="submit"
              (click)="savePartner()">
              Save
            </button>
            <button mat-flat-button color="accent" style="height: 38px;" class="cancel-button  px-5" type="button"
              (click)="cancleOnboardPartener()">
              Cancel
            </button>
            <button mat-flat-button color="warn" class="onboarding-button" type="submit" (click)="onboardPartner()">
              Onboarding
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>