<div mat-dialog-content
     class="rounded">
  <div *ngIf="vendorActionsForm.invalid || !submitted  || !freeze_success">
    <div class="text-center">
      <p class="title">{{ data.name + " " + (data.type | titlecase) }}</p>
      <div class="example-button-container">
        <button class="button_close"
                (click)="close()"
                style="background: #e04f5f">
          <i class="fa fa-times"
             aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <form [formGroup]="vendorActionsForm"   
          style="width: 60%;"
          class="dany_vendor_info mx-auto" (ngSubmit)="submitForm()">
      <div class="row ">
        <div class="col-sm-12 pb-4"
             *ngIf="data.name != 'Rating' ">
          <p class="m-0 form-lable">REASON</p>
          <mat-form-field class="full-width"
                          appearance="fill">
            <mat-select matInput formControlName="reason" required
                        placeholder="select Option">
              <mat-option value=""> Select Reason</mat-option>
              <mat-option value="Breach of user policy"> Breach of user policy </mat-option>
              <mat-option value="Vendor dissatisfaction"> Vendor dissatisfaction </mat-option>
              <mat-option value="Crime involvement">Crime involvement </mat-option>
              <mat-option value="Data breach"> Data breach </mat-option>
              <mat-option value="Others">Others</mat-option>
            </mat-select>
            <mat-error *ngIf="vendorActionsForm.get('reason').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Select Reason</span>
                </div>
              </div>
            </mat-error>

          </mat-form-field>
        </div>
        <div *ngIf="data.name == 'Rating'">
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-start">
              <div class="px-3 gift_image_info">
                <img src="../../assets/gift.jpeg"
                     class="rounded-circle" />
              </div>
              <div class="d-flex flex-column">
                <div>
                  <p class="lable-font-title">Joyalukkas</p>
                </div>
                <div>
                  <ul class="list-inline rating-list"
                      *ngFor="let star of stars"
                      style="display: inline-block">
                    <li (click)="countStar(star)"
                        [ngClass]="{ selected: star <= selectedValue }">
                      <mat-icon *ngIf="star <= selectedValue">star_rate</mat-icon>
                      <mat-icon *ngIf="star > selectedValue">star_border</mat-icon>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 col-lg-12 col-sm-12">
          <mat-form-field class="full-width" 
                          appearance="outline">
            <textarea matInput required
                      formControlName="text"
                      rows="6"
                      cols="20"
                      placeholder="write here..."></textarea>
            <mat-error *ngIf="vendorActionsForm.get('text').hasError('required') && submitted">
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Enter a Description</span>
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row pt-5 pb-3">
        <div class="col-sm-12">
          <div class="d-flex justify-content-around">
            <button mat-flat-button type="button" (click)="submitForm()"
                    color="primary"
                    style="height: 38px;"
                    class="submit-button mr-5">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>




    
  </div>

  
  <div *ngIf="freeze_success==true">
    <div class="d-flex align-items-center flex-column">
      <div *ngIf="data.name == 'Approve'">
        <div class="p-5 rounded-circle"
             style="background-color: #e1e1e1">
          <img src="assets/thumbs-up-hand-symbol.svg"
               class="rounded-circle" />
        </div>
      </div>
      <div *ngIf="data.name == 'Freeze'">
        <div class="p-3 rounded-circle">
          <img src="assets/prohibition-Freeze.svg"
               class="rounded-circle"
               style="height: 120px; width: 120px" />
        </div>
      </div>
      <div>
        <p *ngIf="data.name == 'Freeze'"
           class="lable-font-title">
          {{ data.name + " Freezed Successfully" }}
        </p>
        <p *ngIf="data.name == 'Approve'"
           class="lable-font-title">
          {{ data.name + " Approved Successfully" }}
        </p>
      </div>
      <div class="col-sm-12">
        <div class="d-flex justify-content-around">
          <button mat-flat-button
                  color="primary"
                  class="submit-button mr-5"
                  (click)="close()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
